<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title>Assign Job</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-list>
  
      <ion-item>
        <ion-label position="floating">Job Name</ion-label>
        <ion-input type="text" [(ngModel)]="jobname"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Start Date</ion-label>
        <ion-input type="text" [(ngModel)]="startdate"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">End Date</ion-label>
        <ion-input type="text" [(ngModel)]="enddate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Time</ion-label>
        <ion-input type="text" [(ngModel)]="time"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input type="text" [(ngModel)]="location"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Materials</ion-label>
        <ion-input type="text" [(ngModel)]="materials"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Carpenter</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="carpenter" (change)="job(carpenter)">
          <ion-select-option *ngFor="let item of carpetList" multiple="true" cancelText="Cancel" okText="Ok">{{item.name}}</ion-select-option>
          <ion-select-option  multiple="true" cancelText="Cancel" okText="Ok">Not Needed</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label>Block Layer</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="blocklayer" (change)="job(blocklayer)">
          <ion-select-option *ngFor="let item of blockList" multiple="true" cancelText="Cancel" okText="Ok">{{item.name}}</ion-select-option>
          <ion-select-option  multiple="true" cancelText="Cancel" okText="Ok">Not Needed</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label>Plumber</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="plumber" (change)="job(plumber)">
          <ion-select-option *ngFor="let item of plumbList" multiple="true" cancelText="Cancel" okText="Ok">{{item.name}}</ion-select-option>
          <ion-select-option  multiple="true" cancelText="Cancel" okText="Ok">Not Needed</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label>Electrician</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="electrician" (change)="job(electrician)">
          <ion-select-option *ngFor="let item of electricList" multiple="true" cancelText="Cancel" okText="Ok">{{item.name}}</ion-select-option>
          <ion-select-option  multiple="true" cancelText="Cancel" okText="Ok">Not Needed</ion-select-option>
        </ion-select>
      </ion-item>
      
  </ion-list>


  <ion-button fill="solid" expand="block" color="dark" (click)="job()">New Job</ion-button>
  <ion-button fill="solid" expand="block" color="dark" (click)="list()">List of Jobs</ion-button>
</ion-content>
