<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Face Detech - Management Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- when these button are pressed the functions in the page.ts file runs and navigates to that page -->
  <ion-button fill="solid" expand="block" color="danger" (click)="reg()">Register New Contractor</ion-button>
  <ion-button fill="solid" expand="block" color="success" (click)="job()">Assign New Job</ion-button>
  <ion-button fill="solid" expand="block" color="tertiary" (click)="carpenter()">List Of Carpenters</ion-button>
  <ion-button fill="solid" expand="block" color="warning" (click)="block()">List Of Block Layers</ion-button>
  <ion-button fill="solid" expand="block" color="medium" (click)="electric()">List Of Electricians</ion-button>
  <ion-button fill="solid" expand="block" color="primary" (click)="plumb()">List Of Plumbers</ion-button>
  <ion-button fill="solid" expand="block" color="dark" (click)="logout()">Log out</ion-button>

</ion-content>