<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title>List of Created Jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of jobsList">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title color="primary">{{item.jobname}}</ion-card-title>
        <ion-card-subtitle>Start Date: {{item.startdate}}</ion-card-subtitle>
        <ion-card-subtitle>End Date: {{item.enddate}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>{{item.time}}</ion-card-content>
      <ion-card-content>Location: {{item.location}}</ion-card-content>
      <ion-card-content>Materials: {{item.materials}}</ion-card-content>
      <ion-card-content>Carpenter: {{item.carpenter}}</ion-card-content>
      <ion-card-content>Block Layer: {{item.blocklayer}}</ion-card-content>
      <ion-card-content>Electrician: {{item.electrician}}</ion-card-content>
      <ion-card-content>Plumber: {{item.plumber}}</ion-card-content>

    <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
      <ion-icon size="small" slot="icon-only" name="create"></ion-icon></ion-button>
    <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
      <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
  </span>
  <ng-template #elseBlock>
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col>
              Edit
            </ion-col>
            <ion-col>
              <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                Cancel
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                Update
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label><strong>End Date</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.Editenddate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Time</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.Edittime"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Location</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.Editlocation"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Materials</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.Editmaterials"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Carpenter</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.Editcarpenter"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Block Layer</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.Editblocklayer"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Electrician</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.Editelectrician"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Plumber</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.Editplumber"></ion-input>
      </ion-item>
    </ion-card-content>
  </ng-template>
</ion-card>

</ion-content>
    

