<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title>Register New Contractor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <!-- Input from user -->
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contact Number</ion-label>
      <ion-input type="text" [(ngModel)]="contactNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Skill</ion-label>
      <ion-input type="text" [(ngModel)]="skill"></ion-input>
    </ion-item>
    
</ion-list>
<!-- Form to choose images from local storage -->
<ion-card text-center *ngIf="!isUploading && !isUploaded">
  <ion-card-header>
    <ion-card-title>Choose Images to Upload</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="fileUpload btn btn-primary">
      <span>Upload</span>
      <input
        id="uploadBtn"
        type="file"
        class="upload"
        (change)="uploadFile($event.target.files)"
      />
    </div>
  </ion-card-content>
</ion-card>
<ion-card text-center *ngIf="isUploading && !isUploaded">
  <ion-card-header>
    <!-- Displays selected file filename -->
    <ion-card-title
      >Selected File:<b>{{ fileName }}</b></ion-card-title
    >
  </ion-card-header>
  <!-- Then shows the percentage of progress in upload task-->
  <ion-card-content>
    <div *ngIf="percentage | async as pct">
      Progress: {{ pct | number }}%
      <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
    </div>
    <div *ngIf="snapshot | async as snap">
      File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
      {{ snap.bytesTransferred | fileSizePipe }}
      <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
        <!-- Offers the option to pause, resume and ccancel image upload -->
        <ion-button
          color="warning"
          size="small"
          (click)="task.pause()"
          class="button is-warning"
          >Pause</ion-button
        >
        <ion-button
          size="small"
          (click)="task.resume()"
          class="button is-info"
          >Resume</ion-button
        >
        <ion-button
          color="danger"
          size="small"
          (click)="task.cancel()"
          class="button is-danger"
          >Cancel</ion-button
        >
      </div>
    </div>
  </ion-card-content>
</ion-card>
<ion-card text-center *ngIf="!isUploading && isUploaded">
  <ion-card-header>
    <ion-card-title>
      <b>{{ fileName }}</b> Uploaded!
    </ion-card-title>
  </ion-card-header>
  <!-- Gives the option to download the file after it is uploaded -->
  <ion-card-content>
    <div *ngIf="UploadedFileURL | async as url">
      <img [src]="url" />
      <a [href]="url" target="_blank" rel="noopener">Download</a>
    </div>
    File Size: {{ fileSize | fileSizePipe }}
    <ion-button
      expand="full"
      color="success"
      (click)="isUploading = isUploaded = false"
      >Upload More</ion-button
    >
  </ion-card-content>
</ion-card>
<!-- Register Button -->
<ion-button fill="solid" expand="block" color="dark" (click)="register()">Register</ion-button>

</ion-content>