<ion-header>
  <ion-toolbar color="primary">
  <ion-title>Face Detech - Contractor </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  
<ion-col size="30"> 
<ion-list>
 <!-- Takes in the password to verify contractor -->
  <ion-item>
    <ion-label position="floating" color="primary">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
</ion-list>
</ion-col>
<!-- Loads the camera on the screen and sends image to ts file -->
<ion-button fill="solid" expand="block" color="dark" (click)="log(password)">Login</ion-button>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="takeImage()">
      <script defer src="face-api.min.js"></script>
      <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>


<div style="display:none;" #loginImages>
  <img alt="" srcset="" id="image_from_app">
 </div>
</ion-content>
