<!-- <ion-header>
  <ion-title>
    Contractor Scheduling
  </ion-title>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <h1>Welcome!</h1>
    <h1>Company Contractors Scheduling</h1> -->
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="serious">
        <!-- <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button> -->
        <ion-tab-button tab="management">
          <ion-icon name="clipboard"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="contractor">
          <ion-icon name="construct"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  <!-- </div>
</ion-content> -->
